$primary: #b0197e;

.card {
    background-color: #fff;
    padding: 2rem;
}

label {
    color: $primary;
    font-size: 1rem;
    font-weight: bold;
}

.from-control,
input[type=text].formcontrol,
textarea.form-control,
select.form-control{
    background-color: #eee;

    padding: .375rem .75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
