include head.pug
include nav.pug
preview
  .container
    each alert in alerts
      .alert.mb-3&attributes(alert.attributes)= alert.message
    form(method='POST' action='/')
      .card.form-group
        label(for='name') Name (optional)
        input(type='text' id='name' name='name' autofocus).form-control
      .card.form-group
        label(for='position') Position
        select(id='position' name='eboard' size='9' required multiple).form-control
          each val, key in eboard
            option(value=key)= val
      .card.form-group
        label(for='likes') Likes?
        textarea(id='likes' name='likes').form-control
      .card.form-group
        label(for='dislikes') Dislikes?
        textarea(id='dislikes' name='dislikes').form-control
      .card.form-group
        label(for='comments') Comments?
        textarea(id='comments' name='comments').form-control
      button(type='submit').btn.btn-primary Submit
include foot.pug
