<link rel="apple-touch-icon" type="image/svg+xml" href="/icon/favicon.svg">
<link rel="icon" type="image/svg+xml" href="/icon/favicon.svg">
<link rel="manifest" href="/icon/site.webmanifest">
<link rel="mask-icon" href="/icon/favicon-transparent.svg" color="#b0197e">
<link rel="shortcut icon" type="image/svg+xml" href="/icon/favicon.svg">
<meta name="msapplication-TileColor" content="#b0197e">
<meta name="msapplication-TileImage" content="/icon/mstile.svg">
<meta name="msapplication-config" content="/icon/browserconfig.xml">
<meta name="theme-color" content="#b0197e">
