nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-primary
  .container
    a(href='/').navbar-brand= `Eboard Evals${user.is_prod? '' : ' DEV'}`
    button(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation').navbar-toggler
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCollapse
      if user.eboard || !user.is_prod
        ul.navbar-nav
          li.nav-item
            a(href='/current-evals').nav-link.bg-primary.text-white Current Evals
          li.nav-item
            a(href='/archive').nav-link.bg-primary.text-white Archive
      ul.navbar-nav.ml-auto
        li.navbar-user.dropdown
          a(data-toggle='dropdown' href='#').nav-link.dropdown-toggle#user
            img(src=user.profileImage)
            = user.name
            span.caret
          .dropdown-menu&attributes({'aria-labelledby': 'user'})
            a(href='https://profiles.csh.rit.edu/').dropdown-item Profile
            a(href='https://themeswitcher.csh.rit.edu/').dropdown-item Theme
            .dropdown-divider
            a(href='/logout').dropdown-item Logout (Experimental)
