$primary: #b0197e;

.card {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 1rem
}

label, .card-title {
    color: $primary;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

.form-control,
input.formcontrol,
[type=text].formcontrol,
input[type=text],
input[type=text].formcontrol,
textarea.form-control,
select.form-control{
    background-color: #eee;
    padding: .375rem .75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-div {
    font-weight: 450;
    font-size: large;
}
